.DS_Store
node_modules
.env
.env.*
!.env.example
shs-web
static/assets/js/htmx/*
static/assets/css/tailwind.css
google-service-account.json
*_templ.go
views/**/*_templ.go
views/**/*.txt
.*/
docker-compose-prod.yml
docker-compose-beta.yml
