package pages

import (
	"fmt"
	"github.com/mozillazg/go-unidecode"
	"shs/actions"
	"shs/app/models"
	"shs/web/i18n"
	"shs/web/views/components"
	"shs/web/views/helpers"
	"shs/web/views/icons"
	"slices"
	"strconv"
	"time"
)

templ Patient(patient actions.Patient, bloodTests []actions.BloodTest, viruses []actions.Virus, allMedicine []actions.Medicine, visits []actions.Visit, diagnoses []actions.Diagnosis) {
	<div class={ "p-10" , "w-full", "flex", "flex-col", "gap-5" }>
		<h1 class="w-full font-bold text-2xl text-secondary">{ i18n.StringsCtx(ctx).NavPatient } { i18n.StringsCtx(ctx).For } { patient.FullName() }</h1>
		@components.TabsPermissions([]helpers.Pair[models.AccountPermissions, components.TabContent]{
			{
				First: models.AccountPermissionReadPatient,
				Second: components.TabContent{
					Title:     i18n.StringsCtx(ctx).PatientBriefProfile,
					TitleId:   "brief_profile",
					GroupName: "Patient",
					Content:   patientBriefProfile(patient),
				},
			},
			{
				First: models.AccountPermissionWritePatient,
				Second: components.TabContent{
					Title:     i18n.StringsCtx(ctx).PatientProfile,
					TitleId:   "profile",
					GroupName: "Patient",
					Content:   patientProfile(patient),
				},
			},
			{
				First: models.AccountPermissionReadDiagnoses,
				Second: components.TabContent{
					Title:     i18n.StringsCtx(ctx).NavDiagnoses,
					TitleId:   "diagnoses",
					GroupName: "Patient",
					Content:   patientDiagnosesTab(patient, diagnoses),
				},
			},
			{
				First: models.AccountPermissionReadBloodTest,
				Second: components.TabContent{
					Title:     i18n.StringsCtx(ctx).NavBloodTests,
					TitleId:   "blood-tests",
					GroupName: "Patient",
					Content:   patientBloodTestsTab(patient, bloodTests),
				},
			},
			{
				First: models.AccountPermissionReadVirus,
				Second: components.TabContent{
					Title:     i18n.StringsCtx(ctx).NavViruses,
					TitleId:   "viruses",
					GroupName: "Patient",
					Content:   patientViruses(patient, patient.Viruses),
				},
			},
			{
				First: models.AccountPermissionReadOtherVisits,
				Second: components.TabContent{
					Title:     i18n.StringsCtx(ctx).TabsVisits,
					TitleId:   "visits",
					GroupName: "Patient",
					Content:   patientVisitsTab(patient, allMedicine, visits),
				},
			},
			{
				First: models.AccountPermissionReadJoints,
				Second: components.TabContent{
					Title:     i18n.StringsCtx(ctx).TabsJoints,
					TitleId:   "joints",
					GroupName: "Patient",
					Content:   patientJointsTab(patient),
				},
			},
			{
				First: models.AccountPermissionReadProphylaxes,
				Second: components.TabContent{
					Title:     i18n.StringsCtx(ctx).TabsProphylaxes,
					TitleId:   "prophylaxes",
					GroupName: "Patient",
					Content:   patientProphylaxesTab(patient, allMedicine),
				},
			},
		}...)
	</div>
}

templ patientProfile(patient actions.Patient) {
	@components.PatientViewProfile(patient)
}

templ patientBriefProfile(patient actions.Patient) {
	<div class={ "w-full", "flex", "flex-col", "gap-5" }>
		<table class={ "w-1/3" }>
			<tbody>
				<tr>
					<td><b>{ i18n.StringsCtx(ctx).PatientId }</b></td>
					<td>{ patient.PublicId }</td>
				</tr>
				<tr>
					<td><b>{ i18n.StringsCtx(ctx).PatientFirstName }</b></td>
					<td>{ patient.FirstName }</td>
				</tr>
				<tr>
					<td><b>{ i18n.StringsCtx(ctx).PatientLastName }</b></td>
					<td>{ patient.LastName }</td>
				</tr>
				<tr>
					<td><b>{ i18n.StringsCtx(ctx).PatientFatherName }</b></td>
					<td>{ patient.FatherName }</td>
				</tr>
				<tr>
					<td><b>{ i18n.StringsCtx(ctx).PatientMotherName }</b></td>
					<td>{ patient.MotherName }</td>
				</tr>
				<tr>
					<td><b>{ i18n.StringsCtx(ctx).Diagnosis }</b></td>
					<td>
						if len(patient.Diagnoses)>0 {
							{ patient.Diagnoses[0].GroupName } - { patient.Diagnoses[0].Title }
						} else {
							{ i18n.StringsCtx(ctx).MessageEmptyListFmt(i18n.StringsCtx(ctx).Diagnosis) }
						}
					</td>
				</tr>
				if len(patient.Prophylaxes) > 0 && slices.ContainsFunc(patient.Prophylaxes, func(pppp actions.Prophylaxis) bool {
                    return pppp.EndDate.Before(time.Now().UTC())
                }) {
					{{
						chosenProphylaxis := patient.Prophylaxes[0]
						for _, pp := range patient.Prophylaxes {
							if pp.Chosen {
								chosenProphylaxis = pp
							}
						}
					}}
					<tr>
						<td><b>{ i18n.StringsCtx(ctx).Prophylaxis }</b></td>
						<td>
							{ chosenProphylaxis.Title }
						</td>
					</tr>
				}
				if len(patient.BloodTestResults) > 0 && slices.ContainsFunc(patient.BloodTestResults, func (btr actions.BloodTestResult) bool {
                    return btr.DisplayInBrief
                }) {
					<tr>
						<td><b>{ i18n.StringsCtx(ctx).NavBloodTests }</b></td>
						<td>
							{{
								fuckingWorkingBloodFuckingTests := make([]actions.BloodTestResult, 0, len(patient.BloodTestResults))
								for _, btr := range patient.BloodTestResults {
									if !btr.DisplayInBrief {
										continue
									}
									fuckingWorkingBloodFuckingTests = append(fuckingWorkingBloodFuckingTests, btr)
								}
							}}
							for _,btr := range fuckingWorkingBloodFuckingTests {
								<span>{ btr.Name }</span>
								for _, field := range btr.FilledFields {
									<pre class={ "italic", "ps-6" }>
										{ field.Name } -
										{ field.ValueUnit() }
									</pre>
								}
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
		<button
			_={ fmt.Sprintf(`on click
fetch /api/web/patient/%s/card
then call Utils.downloadFileBase64(result, "%s Card.png")
`, patient.PublicId, patient.FullName()) }
			data-loading-target="#loading"
			data-loading-class-remove="hidden"
			type="submit"
			class={ "cursor-pointer" , "bg-secondary" , "rounded-[50px]" , "p-[10px]" , "px-[60px]", "w-fit" , "text-accent" }
		>
			{ "Generate Card" }
		</button>
	</div>
}

templ patientBloodTestsTab(patient actions.Patient, bloodTests []actions.BloodTest) {
	@components.TabsPermissions([]helpers.Pair[models.AccountPermissions, components.TabContent]{
		{
			First: models.AccountPermissionReadBloodTest,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsList,
				TitleId:   "list",
				GroupName: "patient-blood-test-results",
				Content:   patientListBloodTestResults(patient),
				SubTab:    true,
			},
		},
		{
			First: models.AccountPermissionWriteBloodTest,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsCreate,
				TitleId:   "create",
				GroupName: "patient-blood-test-results",
				Content:   patientCreateBloodTestResult(patient, bloodTests),
				SubTab:    true,
			},
		},
	}...)
}

templ patientVisitsTab(patient actions.Patient, allMedicine []actions.Medicine, visits []actions.Visit) {
	@components.TabsPermissions([]helpers.Pair[models.AccountPermissions, components.TabContent]{
		{
			First: models.AccountPermissionReadOtherVisits,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsList,
				TitleId:   "list",
				GroupName: "patient-visit",
				Content:   patientListVisits(patient, visits),
				SubTab:    true,
			},
		},
		{
			First: models.AccountPermissionWriteOtherVisits,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsCreate,
				TitleId:   "create",
				GroupName: "patient-visit",
				Content:   patientCreateVisit(patient, allMedicine),
				SubTab:    true,
			},
		},
	}...)
}

templ patientJointsTab(patient actions.Patient) {
	@components.TabsPermissions([]helpers.Pair[models.AccountPermissions, components.TabContent]{
		{
			First: models.AccountPermissionReadJoints,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsList,
				TitleId:   "list",
				GroupName: "patient-joints",
				Content:   patientListJointsEvaluations(patient),
				SubTab:    true,
			},
		},
		{
			First: models.AccountPermissionWriteJoints,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsCreate,
				TitleId:   "create",
				GroupName: "patient-joints",
				Content:   patientCreateJointsEvaluation(patient),
				SubTab:    true,
			},
		},
	}...)
}

templ patientProphylaxesTab(patient actions.Patient, meds []actions.Medicine) {
	@components.TabsPermissions([]helpers.Pair[models.AccountPermissions, components.TabContent]{
		{
			First: models.AccountPermissionReadProphylaxes,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsList,
				TitleId:   "list",
				GroupName: "patient-prophylaxes",
				Content:   patientListProphylaxes(patient),
				SubTab:    true,
			},
		},
		{
			First: models.AccountPermissionWriteProphylaxes,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsCreate,
				TitleId:   "create",
				GroupName: "patient-prophylaxes",
				Content:   patientCreateProphylaxes(patient, meds),
				SubTab:    true,
			},
		},
	}...)
}

templ patientDiagnosesTab(patient actions.Patient, diagnoses []actions.Diagnosis) {
	@components.TabsPermissions([]helpers.Pair[models.AccountPermissions, components.TabContent]{
		{
			First: models.AccountPermissionReadDiagnoses,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsList,
				TitleId:   "list",
				GroupName: "patient-diagnosis-results",
				Content:   patientListDiagnosesResults(patient),
				SubTab:    true,
			},
		},
		{
			First: models.AccountPermissionWriteDiagnoses,
			Second: components.TabContent{
				Title:     i18n.StringsCtx(ctx).TabsCreate,
				TitleId:   "create",
				GroupName: "patient-diagnosis-results",
				Content:   patientCreateDiagnosisResult(patient, diagnoses),
				SubTab:    true,
			},
		},
	}...)
}

templ patientBloodTestsBrief(bt actions.BloodTestResult) {
	<div class={ "bg-secondary-trans-20", "p-5", "rounded-md", "flex", "justify-between" }>
		<div>
			<span class={ "font-bold", "text-lg" }>
				{ bt.Name }
			</span>
			<span class={ "text-[#DE3333]" }>
				if bt.Pending {
					{ i18n.StringsCtx(ctx).BloodTestPending }
				}
			</span>
		</div>
		<div>
			{ bt.TestedAt.Format("2006 Jan/02") }
		</div>
	</div>
}

templ patientListBloodTestResults(patient actions.Patient) {
	if len(patient.BloodTestResults) == 0 {
		<span class={ "text-xl", "font-bold", "lowercase" }>{ i18n.StringsCtx(ctx).MessageEmptyListFmt(i18n.StringsCtx(ctx).NavBloodTests) }</span>
	} else {
		@components.ScrollableList(components.ScrollableListParams{}) {
			for _, bt := range patient.BloodTestResults {
				@components.JustLink(fmt.Sprintf("/patient/%s/blood-test-result/%d", patient.PublicId, bt.Id), "Patient blood test result", patientBloodTestsBrief(bt))
			}
		}
	}
}

func newPatientBloodTestFormId(bt actions.BloodTest, field actions.BloodTestField) string {
	return fmt.Sprintf("blood_test_result_value#%d#%s#%d#%s", bt.Id, actions.Slugify(bt.Name), field.Id, actions.Slugify(field.Name))
}

templ newPatientBloodTest(patient actions.Patient, bt actions.BloodTest) {
	<form
		class={ "flex", "flex-col", "gap-5" }
		hx-encoding="application/json"
		hx-post={ fmt.Sprintf("/api/web/patient/%s/blood-test", patient.PublicId) }
		hx-ext="json-enc"
		hx-target="#status-msg"
		hx-swap="innerHTML"
		data-loading-target="#loading"
		data-loading-class-remove="hidden"
		_="on htmx:afterRequest reset() me then call location.reload()"
	>
		@components.Input(components.InputOptions{
			Id:        "do_later",
			Name:      "do_later",
			Type:      components.InputTypeCheckbox,
			Checked:   false,
			Required:  false,
			Autofocus: false,
			Title:     i18n.StringsCtx(ctx).BloodTestDoLater,
		})
		for i := 0; i < len(bt.Fields); i++ {
			<div class={ "flex", "gap-10", "justify-between" }>
				@components.Input(components.InputOptions{
					Id:          newPatientBloodTestFormId(bt, bt.Fields[i]),
					Name:        newPatientBloodTestFormId(bt, bt.Fields[i]),
					Type:        components.InputTypeText,
					Required:    false,
					Autofocus:   false,
					Title:       bt.Fields[i].Name,
					Placeholder: i18n.StringsCtx(ctx).EnterBloodTestResultFieldValueFmt(string(bt.Fields[i].Unit)),
					Class:       []string{"!min-w-[250px]"},
				})
				if len(bt.Fields)-i != 1 {
					@components.Input(components.InputOptions{
						Id:          newPatientBloodTestFormId(bt, bt.Fields[i+1]),
						Name:        newPatientBloodTestFormId(bt, bt.Fields[i+1]),
						Type:        components.InputTypeText,
						Required:    false,
						Autofocus:   false,
						Title:       bt.Fields[i+1].Name,
						Placeholder: i18n.StringsCtx(ctx).EnterBloodTestResultFieldValueFmt(string(bt.Fields[i+1].Unit)),
						Class:       []string{"!min-w-[250px]"},
					})
					{{ i++ }}
				}
			</div>
		}
		<button type="submit" class={ "cursor-pointer" , "bg-secondary" , "rounded-[50px]" , "p-[10px]" , "px-[60px]", "w-full" , "text-accent" }>
			{ i18n.StringsCtx(ctx).FormsSubmit }
		</button>
	</form>
}

func mapNewBloodTestToView(patient actions.Patient, bts []actions.BloodTest) []components.SelectContent {
	bloodTestsViews := make([]components.SelectContent, 0, len(bts))
	for _, bt := range bts {
		bloodTestsViews = append(bloodTestsViews, components.SelectContent{
			Title:     bt.Name,
			TitleId:   unidecode.Unidecode(bt.Name),
			GroupName: "blood-tests",
			Content:   newPatientBloodTest(patient, bt),
		})
	}

	return bloodTestsViews
}

templ patientCreateBloodTestResult(patient actions.Patient, bloodTests []actions.BloodTest) {
	@components.SelectContents(
		components.SelectContentsParams{
			Title:    i18n.StringsCtx(ctx).EnterBloodTest,
			TitleId:  "patient-blood-tests",
			Contents: mapNewBloodTestToView(patient, bloodTests),
		},
	)
	<div id="status-msg"></div>
}

templ patientViruses(patient actions.Patient, viruses []actions.Virus) {
	if len(viruses) == 0 {
		<span class={ "text-xl", "font-bold", "lowercase" }>{ i18n.StringsCtx(ctx).MessageEmptyListFmt(i18n.StringsCtx(ctx).NavViruses) }</span>
	} else {
		<div class={ "flex",  "justify-between", "gap-10" }>
			for _, virus := range viruses {
				<br/>
				{ virus.Name }
			}
		</div>
	}
}

templ medicineInCheckUp(medicines []actions.Medicine) {
	{{
		options := make([]components.SelectOption, 0, len(medicines))
		for _, m := range medicines {
			if m.Amount == 0 {
				continue
			}
			options = append(options, components.SelectOption{
				Name:  fmt.Sprintf("%s %s", m.Name, m.DoseUnit()),
				Value: strconv.Itoa(int(m.Id)),
			})
		}
	}}
	@components.Select(components.SelectParams{
		Id:          "medicine_id",
		Name:        i18n.StringsCtx(ctx).CheckUpPrescribedMedicines,
		Placeholder: i18n.StringsCtx(ctx).EnterCheckUpPrescribedMedicines,
		Options:     options,
	})
	@components.Input(components.InputOptions{
		Id:          "amount",
		Name:        "amount",
		Type:        components.InputTypeNumber,
		Required:    false,
		Autofocus:   false,
		Title:       i18n.StringsCtx(ctx).MedicineAmount,
		Placeholder: i18n.StringsCtx(ctx).EnterPrescribedAmount,
	})
}

templ patientCreateVisit(patient actions.Patient, allMedicine []actions.Medicine) {
	<form
		class={ "", "flex", "flex-col", "gap-5" }
		hx-encoding="application/json"
		hx-post={ fmt.Sprintf("/api/web/patient/%s/checkup", patient.PublicId) }
		hx-ext="json-enc"
		hx-target="#status-msg"
		hx-swap="innerHTML"
		data-loading-target="#loading"
		data-loading-class-remove="hidden"
		_="on htmx:afterRequest reset() me then call location.reload()"
	>
		<div class={ "flex", "flex-col", "gap-5", "justify-between" }>
			@components.Select(components.SelectParams{
				Id:          "visit_reason",
				Name:        i18n.StringsCtx(ctx).CheckUpVisitReason,
				Required:    true,
				Placeholder: i18n.StringsCtx(ctx).EnterCheckUpVisitReason,
				Options: []components.SelectOption{
					{Name: i18n.StringsCtx(ctx).PrimaryProphylaxis, Value: "primary_prophylaxis"},
					{Name: i18n.StringsCtx(ctx).SecondaryProphylaxis, Value: "secondary_prophylaxis"},
					{Name: i18n.StringsCtx(ctx).Surgery, Value: "surgery"},
					{Name: i18n.StringsCtx(ctx).JointEvaluation, Value: "joint_evaluation"},
					{Name: i18n.StringsCtx(ctx).JointInjection, Value: "joint_injection"},
					{Name: i18n.StringsCtx(ctx).Hemelibra, Value: "hemelibra"},
					{Name: i18n.StringsCtx(ctx).TreatmentAtHome, Value: "home_treatment"},
					{Name: i18n.StringsCtx(ctx).ActiveBleeding, Value: "active_bleeding"},
				},
			})
			@components.Input(components.InputOptions{
				Id:          "visit_extra_details",
				Name:        "visit_extra_details",
				Type:        components.InputTypeText,
				Required:    false,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).CheckUpExtraReason,
				Placeholder: i18n.StringsCtx(ctx).EnterCheckUpExtraReason,
			})
			@components.Input(components.InputOptions{
				Id:          "patient_weight",
				Name:        "patient_weight",
				Type:        components.InputTypeNumberFloat,
				Required:    false,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).CheckUpPatientWeight,
				Placeholder: i18n.StringsCtx(ctx).EnterCheckUpPatientWeight,
				Value:       "0.0",
			})
			@components.Input(components.InputOptions{
				Id:          "patient_height",
				Name:        "patient_height",
				Type:        components.InputTypeNumberFloat,
				Required:    false,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).CheckUpPatientHeight,
				Placeholder: i18n.StringsCtx(ctx).EnterCheckUpPatientHeight,
				Value:       "0.0",
			})
			<div id="prescribed_medicines" class={ "flex", "flex-col", "gap-3" }>
				<div id="single_medicine" class={ "flex", "gap-3" }>
					@medicineInCheckUp(allMedicine)
				</div>
			</div>
			<button
				type="button"
				class={ "cursor-pointer" , "bg-secondary" , "rounded-[50px]" , "p-[10px]" , "px-[60px]", "w-full" , "text-accent" }
				_="on click put #single_medicine's outerHTML at the end of #prescribed_medicines"
			>
				{ i18n.StringsCtx(ctx).CheckUpAddPrescribedMedicine }
			</button>
		</div>
		<button type="submit" class={ "cursor-pointer" , "bg-secondary" , "rounded-[50px]" , "p-[10px]" , "px-[60px]", "w-full" , "text-accent" }>
			{ i18n.StringsCtx(ctx).FormsSubmit }
		</button>
	</form>
}

templ patientVisitBrief(visit actions.Visit) {
	<div class={ "bg-secondary-trans-20", "p-5", "rounded-md" }>
		<span class={ "font-bold", "text-lg" }>
			{ visit.VisitedAt.Format(time.DateOnly) }
		</span>
	</div>
}

templ patientListVisits(patient actions.Patient, visits []actions.Visit) {
	if len(visits) == 0 {
		<span class={ "text-xl", "font-bold", "lowercase" }>{ i18n.StringsCtx(ctx).MessageEmptyListFmt(i18n.StringsCtx(ctx).TabsVisits) }</span>
	} else {
		@components.ScrollableList(components.ScrollableListParams{}) {
			for _, visit := range visits {
				@components.JustLink(fmt.Sprintf("/patient/%s/visit/%d", patient.PublicId, visit.Id), "Patient visit", patientVisitBrief(visit))
			}
		}
	}
}

templ patientListJointsEvaluations(patient actions.Patient) {
	if len(patient.JointsEvaluations) == 0 {
		<span class={ "text-xl", "font-bold", "lowercase" }>{ i18n.StringsCtx(ctx).MessageEmptyListFmt(i18n.StringsCtx(ctx).JointsEvaluations) }</span>
	} else {
		@components.ScrollableList(components.ScrollableListParams{}) {
			for _, je := range patient.JointsEvaluations {
				<div class={ "bg-secondary-trans-20", "p-5", "rounded-md", "flex", "gap-x-5" }>
					<span class={ "font-bold", "text-lg" }>
						{ je.CreatedAt.Format("2006 Jan/02") }
					</span>
					<span class={ "text-lg" }>
						{ fmt.Sprintf("Score: %d", je.Result) }
					</span>
				</div>
			}
		}
	}
}

templ patientCreateJointsEvaluation(patient actions.Patient) {
	<form
		class={ "flex", "flex-col", "gap-5" }
		hx-encoding="application/json"
		hx-post={ fmt.Sprintf("/api/web/patient/%s/joints-evaluation", patient.PublicId) }
		hx-ext="json-enc"
		hx-target="#status-msg"
		hx-swap="innerHTML"
		data-loading-target="#loading"
		data-loading-class-remove="hidden"
		_="on htmx:afterRequest reset() me then call location.reload()"
	>
		<div class={ "flex", "gap-10", "justify-between" }>
			@components.Input(components.InputOptions{
				Id:          "right_ankle",
				Name:        "right_ankle",
				Type:        components.InputTypeText,
				Required:    true,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).JointsRightAnkle,
				Placeholder: i18n.StringsCtx(ctx).JointsRightAnkle,
			})
			@components.Input(components.InputOptions{
				Id:          "left_ankle",
				Name:        "left_ankle",
				Type:        components.InputTypeText,
				Required:    true,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).JointsLeftAnkle,
				Placeholder: i18n.StringsCtx(ctx).JointsLeftAnkle,
			})
		</div>
		<div class={ "flex", "gap-10", "justify-between" }>
			@components.Input(components.InputOptions{
				Id:          "right_knee",
				Name:        "right_knee",
				Type:        components.InputTypeText,
				Required:    true,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).JointsRightAnkle,
				Placeholder: i18n.StringsCtx(ctx).JointsRightAnkle,
			})
			@components.Input(components.InputOptions{
				Id:          "left_knee",
				Name:        "left_knee",
				Type:        components.InputTypeText,
				Required:    true,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).JointsLeftAnkle,
				Placeholder: i18n.StringsCtx(ctx).JointsLeftAnkle,
			})
		</div>
		<div class={ "flex", "gap-10", "justify-between" }>
			@components.Input(components.InputOptions{
				Id:          "right_elbow",
				Name:        "right_elbow",
				Type:        components.InputTypeText,
				Required:    true,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).JointsRightAnkle,
				Placeholder: i18n.StringsCtx(ctx).JointsRightAnkle,
			})
			@components.Input(components.InputOptions{
				Id:          "left_elbow",
				Name:        "left_elbow",
				Type:        components.InputTypeText,
				Required:    true,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).JointsLeftAnkle,
				Placeholder: i18n.StringsCtx(ctx).JointsLeftAnkle,
			})
		</div>
		<div id="status-msg"></div>
		<button type="submit" class={ "cursor-pointer" , "bg-secondary" , "rounded-[50px]" , "p-[10px]" , "px-[60px]", "w-full" , "text-accent" }>
			{ i18n.StringsCtx(ctx).FormsSubmit }
		</button>
	</form>
}

templ patientListProphylaxes(patient actions.Patient) {
	if len(patient.Prophylaxes) == 0 {
		<span class={ "text-xl", "font-bold", "lowercase" }>{ i18n.StringsCtx(ctx).MessageEmptyListFmt(i18n.StringsCtx(ctx).TabsProphylaxes) }</span>
	} else {
		@components.ScrollableList(components.ScrollableListParams{}) {
			for _, pp := range patient.Prophylaxes {
				<div id={ fmt.Sprintf("patient-prophylaxis-%s", actions.Slugify(fmt.Sprint(pp.Id))) } class={ "bg-secondary-trans-20", "p-5", "rounded-md", "flex", "justify-between", "gap-x-5" }>
					<div>
						<span class={ "font-bold","text-lg" }>
							{ fmt.Sprintf("%s", pp.Title) }
						</span>
						<span class={ "text-lg" }>
							switch pp.FrequencyPerDays {
								case "every4weeks":
									{ i18n.StringsCtx(ctx).ProphylaxesEvery4Weeks }
								case "every2weeks":
									{ i18n.StringsCtx(ctx).ProphylaxesEvery2Weeks }
								case "once_in_week":
									{ i18n.StringsCtx(ctx).ProphylaxesOnceInWeek }
								case "twice_in_week":
									{ i18n.StringsCtx(ctx).ProphylaxesTwiceInWeek }
								case "thrice_in_week":
									{ i18n.StringsCtx(ctx).ProphylaxesThriceInWeek }
								default:
									{ "N/A" }
							}
						</span>
						<span class={ "text-lg" }>
							{ pp.PrescribedMedicine.Name }
						</span>
						<span class={ "text-lg" }>
							{ pp.PrescribedMedicine.DoseUnit() }
						</span>
						<span class={ "text-lg" }>
							{ fmt.Sprint(pp.MedicineAmount) }
						</span>
						<span class={ "text-lg" }>
							{ pp.EndDate.Format("2006 Jan/02") }
						</span>
					</div>
					<div class={ "flex", "flex-row", "gap-x-2" }>
						@components.HyperButton(components.HyperButtonParams{
							Title:       i18n.StringsCtx(ctx).ProphylaxisEnd,
							HxMethod:    "PUT",
							HxPath:      fmt.Sprintf("/api/web/patient/%s/prophylaxis/%d/end", patient.PublicId, pp.Id),
							HxSwap:      "outerHTML",
							HxTarget:    "#patient-profile-sub-container",
							HyperScript: "on htmx:afterRequest call location.reload()",
						})
						@components.HyperButton(components.HyperButtonParams{
							Title:       i18n.StringsCtx(ctx).ProphylaxisMarkChosen,
							HxMethod:    "PUT",
							HxPath:      fmt.Sprintf("/api/web/patient/%s/prophylaxis/%d/mark-chosen", patient.PublicId, pp.Id),
							HxSwap:      "outerHTML",
							HxTarget:    "#patient-profile-sub-container",
							HyperScript: "on htmx:afterRequest call location.reload()",
						})
						<button
							class={ "cursor-pointer" , "rounded-md" , "p-[10px]" , "text-white" , "bg-red-800", "hover:bg-red-500",
                "font-bold", "flex", "flex-row", "resources-center", "justify-center", "gap-2" }
							hx-delete={ fmt.Sprintf("/api/web/patient/%s/prophylaxis/%d", patient.PublicId, pp.Id) }
							hx-confirm={ i18n.StringsCtx(ctx).MessageDeleteConfirmFmt(i18n.StringsCtx(ctx).Prophylaxis, pp.Title) }
							hx-trigger="click consume"
							hx-target={ fmt.Sprintf("#patient-prophylaxis-%s", actions.Slugify(fmt.Sprint(pp.Id))) }
							hx-swap="delete"
							_="on click halt the event then call event.stopImmediatePropagation() then call event.stopPropagation() then call location.reload()"
						>
							{ 
        i18n.StringsCtx(ctx).FormsDelete }
							@icons.Trash()
						</button>
					</div>
				</div>
			}
		}
	}
}

templ patientCreateProphylaxes(patient actions.Patient, allMedicine []actions.Medicine) {
	<form
		class={ "flex", "flex-col", "gap-5" }
		hx-encoding="application/json"
		hx-post={ fmt.Sprintf("/api/web/patient/%s/prophylaxis", patient.PublicId) }
		hx-ext="json-enc"
		hx-target="#status-msg"
		hx-swap="innerHTML"
		data-loading-target="#loading"
		data-loading-class-remove="hidden"
		_="on htmx:afterRequest reset() me then call location.reload()"
	>
		<div class={ "flex", "gap-10", "justify-between" }>
			@components.Input(components.InputOptions{
				Id:          "title",
				Name:        "title",
				Type:        components.InputTypeText,
				Required:    true,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).ProphylaxesTitle,
				Placeholder: i18n.StringsCtx(ctx).ProphylaxesTitle,
			})
			@components.Select(components.SelectParams{
				Id:          "frequency",
				Name:        i18n.StringsCtx(ctx).ProphylaxesFrequency,
				Placeholder: i18n.StringsCtx(ctx).ProphylaxesFrequency,
				Required:    true,
				Options: []components.SelectOption{

					{Name: i18n.StringsCtx(ctx).ProphylaxesEvery4Weeks, Value: "every4weeks"},
					{Name: i18n.StringsCtx(ctx).ProphylaxesEvery2Weeks, Value: "every2weeks"},
					{Name: i18n.StringsCtx(ctx).ProphylaxesOnceInWeek, Value: "once_in_week"},
					{Name: i18n.StringsCtx(ctx).ProphylaxesTwiceInWeek, Value: "twice_in_week"},
					{Name: i18n.StringsCtx(ctx).ProphylaxesThriceInWeek, Value: "thrice_in_week"},
				},
			})
		</div>
		<div class={ "flex", "gap-10", "justify-between" }>
			@components.Input(components.InputOptions{
				Id:          "end_date",
				Name:        "end_date",
				Type:        components.InputTypeDate,
				Required:    false,
				Autofocus:   false,
				Title:       i18n.StringsCtx(ctx).ProphylaxesEndDate,
				Placeholder: i18n.StringsCtx(ctx).ProphylaxesEndDate,
			})
		</div>
		<div class={ "flex", "gap-10", "justify-between" }>
			<div id="prescribed_medicines" class={ "flex", "flex-col", "gap-3" }>
				<div id="single_medicine" class={ "flex", "gap-3" }>
					@medicineInCheckUp(allMedicine)
				</div>
			</div>
		</div>
		<div id="status-msg"></div>
		<button type="submit" class={ "cursor-pointer" , "bg-secondary" , "rounded-[50px]" , "p-[10px]" , "px-[60px]", "w-full" , "text-accent" }>
			{ i18n.StringsCtx(ctx).FormsSubmit }
		</button>
	</form>
}

templ patientListDiagnosesResults(patient actions.Patient) {
	if len(patient.Diagnoses) == 0 {
		<span class={ "text-xl", "font-bold", "lowercase" }>{ i18n.StringsCtx(ctx).MessageEmptyListFmt(i18n.StringsCtx(ctx).NavDiagnoses) }</span>
	} else {
		@components.ScrollableList(components.ScrollableListParams{}) {
			for _, diagnosis := range patient.Diagnoses {
				<div class={ "bg-secondary-trans-20", "p-5", "rounded-md", "flex", "justify-between" }>
					<div>
						<span class={ "font-bold", "text-lg" }>
							{ diagnosis.Title }
						</span>
						<span class={ "font-bold", "text-lg" }>
							{ diagnosis.GroupName }
						</span>
						<span class={ "font-bold", "text-lg" }>
							{ diagnosis.ICD11 }
						</span>
						<span class={ "font-bold", "text-lg" }>
							{ diagnosis.AKA }
						</span>
					</div>
					<div>
						{ diagnosis.DiagnosedAt.Format("2006 Jan/02") }
					</div>
				</div>
			}
		}
	}
}

templ newPatientDiagnosisResult(patient actions.Patient, diagnosis actions.Diagnosis) {
	<form
		class={ "flex", "flex-col", "gap-5" }
		hx-encoding="application/json"
		hx-post={ fmt.Sprintf("/api/web/patient/%s/diagnosis", patient.PublicId) }
		hx-ext="json-enc"
		hx-target="#status-msg"
		hx-swap="innerHTML"
		data-loading-target="#loading"
		data-loading-class-remove="hidden"
		_="on htmx:afterRequest reset() me then call location.reload()"
	>
		@components.Input(components.InputOptions{
			Id:        "diagnosis_id",
			Name:      "diagnosis_id",
			Type:      components.InputTypeNumber,
			Required:  true,
			Autofocus: false,
			Title:     "Diagnosis id",
			Value:     strconv.Itoa(int(diagnosis.Id)),
			Class:     []string{"!hidden"},
		})
		@components.Input(components.InputOptions{
			Id:          "diagnosed_at",
			Name:        "diagnosed_at",
			Type:        components.InputTypeDate,
			Required:    true,
			Autofocus:   false,
			Title:       i18n.StringsCtx(ctx).DiagnosedAt,
			Placeholder: i18n.StringsCtx(ctx).DiagnosedAt,
		})
		<button type="submit" class={ "cursor-pointer" , "bg-secondary" , "rounded-[50px]" , "p-[10px]" , "px-[60px]", "w-full" , "text-accent" }>
			{ i18n.StringsCtx(ctx).FormsSubmit }
		</button>
	</form>
}

func mapNewDiagnosisResultToView(patient actions.Patient, diagnoses []actions.Diagnosis) []components.SelectContent {
	bloodTestsViews := make([]components.SelectContent, 0, len(diagnoses))
	for _, diagnosis := range diagnoses {
		bloodTestsViews = append(bloodTestsViews, components.SelectContent{
			Title:     fmt.Sprintf("%s: %s", diagnosis.GroupName, diagnosis.Title),
			TitleId:   unidecode.Unidecode(fmt.Sprintf("%s: %s", diagnosis.GroupName, diagnosis.Title)),
			GroupName: "daignoses",
			Content:   newPatientDiagnosisResult(patient, diagnosis),
		})
	}

	return bloodTestsViews
}

templ patientCreateDiagnosisResult(patient actions.Patient, bloodTests []actions.Diagnosis) {
	@components.SelectContents(
		components.SelectContentsParams{
			Title:    i18n.StringsCtx(ctx).EnterDiagnosis,
			TitleId:  "patient-blood-tests",
			Contents: mapNewDiagnosisResultToView(patient, bloodTests),
		},
	)
	<div id="status-msg"></div>
}
